*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.app-wrapper {
    margin-top: calc(var(--searchbar-height) + 2vh);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    flex: 1;
    margin-left: var(--closed-sidebar-width);
}

.sidebar-wrapper {
    flex: 0 0 1;
}