@media (prefers-color-scheme: dark) {
}

:root {
    --primary-colour: rgb(126, 126, 126);

    --closed-sidebar-width: clamp(70px, 7vw, 90px);
    --open-sidebar-width: clamp(200px, 20vw, 300px); /* +75% */
}

*, 
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    min-height: 100vh;
}

body {
    background: linear-gradient(to bottom, rgb(0, 34, 101), rgb(0, 3, 8));
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    min-height: 100vh;
}