@media (prefers-color-scheme: dark) {
}

:root {
    --prim-colour: rgb(117, 117, 117);
    --prim-text-colour: rgb(255, 255, 255);

    --closed-sidebar-width: clamp(70px, 7vw, 90px);
    --open-sidebar-width: clamp(200px, 20vw, 300px); /* +75% */

    --searchbar-height: clamp(2rem, 4.5vh, 50px);
    --searchbar-width: clamp(200px, 20vw, 300px);
}

*, 
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    min-height: 100vh;
}

body {
    background: linear-gradient(to bottom, rgb(0, 34, 101), rgb(0, 3, 8));
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    min-height: 100vh;
}