.category-wrapper {
    display: flex;
    flex-direction: column;
    outline: solid 1.5px green;
}

.category-wrapper * {
    outline: solid 1.5px green;
}

.category-wrapper h1 {
    font-size: 1.7rem;
    align-self: flex-start;
    background-color: seagreen;
    padding: 0.6rem;
}

.card-list {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 1.2rem;
    background-color: rgba(80, 115, 186, 0.5);
    flex: 1;
    max-width: calc(var(--category-card-list-width) + var(--main-section-width));

}