.creator-hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: var(--creator-hero-height);
    margin-top: calc(var(--searchbar-height) + 2vh);
}

.creator-hero-wrapper .content-wrapper {
    display: flex;
    gap: 1vw;
    align-items: center;
    background-color: rgb(255, 232, 127);
    padding: calc(var(--creator-hero-height) * 0.05);
    padding-left: calc(var(--creator-hero-height) * 0.1);
    padding-right: calc(var(--creator-hero-height) * 0.1);
    border-radius: 1rem;
}

.creator-hero-wrapper .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: calc(var(--creator-hero-height) * 0.68);
    overflow: hidden;
    border-radius: 50%;
}

.creator-hero-wrapper .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.creator-hero-wrapper .details {
    background-color: rgb(127, 178, 255);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.3rem;
    padding: 1rem 1.25rem;
}

.creator-hero-wrapper .details div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: aquamarine;
    padding: 0 0.6rem;
}

.creator-hero-wrapper .details div p {
    font-size: var(--creator-hero-details-p-font-size);
    white-space: nowrap;
    width: calc(var(--creator-hero-details-p-font-size) * 5.5);
}

.creator-hero-wrapper .details h1 {
    font-size: 3rem;
}

.creator-hero-wrapper .details div hr {
    align-self: stretch;
    width: 0.35rem;
    border-radius: 1rem;
    border: unset;
    background-color: rgb(255, 127, 165);
}