.creator-hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--creator-hero-height);
    margin-right: 1vw;
    border-radius: 0.5vh;
}

.creator-hero-wrapper .content-wrapper {
    display: flex;
    gap: 1vw;
    align-items: center;
    background: linear-gradient(to left, rgb(0, 24, 71), rgb(0, 0, 0));
    padding: calc(var(--creator-hero-height) * 0.1);
    padding-left: calc(var(--creator-hero-height) * 0.1);
    padding-right: calc(var(--creator-hero-height) * 0.1);
    border-radius: 1rem;
    outline: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.4); 
}

.creator-hero-wrapper .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: calc(var(--creator-hero-height) * 0.68);
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
}

.creator-hero-wrapper .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.creator-hero-wrapper .details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.3rem;
    padding: 1rem 1.25rem;
}

.creator-hero-wrapper .details div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0 0.6rem;
    outline: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.4); 
    border-radius: 0.5vw;
}

.creator-hero-wrapper .details div p,
.creator-hero-wrapper .details div span {
    font-size: var(--creator-hero-details-p-font-size);
    color: white;
    white-space: nowrap;
    width: calc(var(--creator-hero-details-p-font-size) * 5.5);
}

.creator-hero-wrapper .details h1 {
    font-size: 3rem;
    color: white;
}

.creator-hero-wrapper .details div hr {
    width: 0.075rem;
    height: 1rem;
    border-radius: 1rem;
    border: unset;
    background-color: rgb(255, 255, 255);
}