.searchbar-list-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    overflow: hidden;
    background-color: rgb(80, 115, 186);
    transition: box-shadow 0.3s ease;
}

.searchbar-list-wrapper:hover {
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.4); 
}

.search-row {
    border-radius: 0.1rem;
    text-align: left;
    height: var(--searchbar-height);
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0;
    transition: background 0.3s ease;
}

.search-row:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.search-row:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.search-row span {
    flex: 1;
    text-align: left;
    color: white;
    font-size: 1.1rem;
    white-space: nowrap;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 1rem;
}

.three-cols span {
    flex: 1;
}