.sidebar * {
    border: solid 1px green;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: width 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.95vh;
    padding: 1vw;
    width: var(--closed-sidebar-width);
}

.open.sidebar {
    width: var(--open-sidebar-width);
}

.logo-wrapper {
    flex: 0 0 auto;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    height: calc(var(--closed-sidebar-width) * 0.8);
}

.btn-list {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8vh;
    background-color: royalblue;
    padding: 1vw 0;
    width: calc(var(--closed-sidebar-width) * 0.8);
    transition: width 0.3s ease;
}

.open .btn-list {
    width: calc(var(--open-sidebar-width) * 0.8);
}

.btn {
    all: unset;
    display: flex;
    background-color: rgb(255, 0, 0);
    height: calc(var(--closed-sidebar-width) * 0.55);
    width: calc(var(--closed-sidebar-width) * 0.55);
    aspect-ratio: 1 / 1;
    transition: width 0.2s ease;
}

.btn .icon-wrapper {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: aquamarine;
    border-radius: 0;
}

.btn .icon-wrapper img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.open .btn {
    width: calc(var(--open-sidebar-width) * 0.55);
    aspect-ratio: unset;
}

.open-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    opacity: 1;
    /* transform: translateX(0); */
    transition: max-width 0.3s ease, opacity 0.3s ease; /* , transform 0.3s ease */
    background-color: blueviolet;
    padding: 0 0.5rem;
}

.open-content.hidden {
    max-width: 0;
    opacity: 0;
    /* transform: translateX(-0.6vw); */
}

.open-content .title {
    font-weight: 900;
    font-size: 0.8rem;
}

.open-content .name {
    font-size: 0.7rem;
    font-weight: 600;
}

.open-content .count {
    font-size: 0.6rem;
    font-weight: 600;
}