.sidebar-wrapper {
    flex: 0 0 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 17, 51, 1);
    color: rgb(0, 0, 0);
    transition: width 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.95vh;
    padding: 1vw;
    width: var(--closed-sidebar-width);
}

.open.sidebar-wrapper {
    width: var(--open-sidebar-width);
}

.sidebar-wrapper .topbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 1vw 0;
    width: calc(var(--closed-sidebar-width) * 0.8);
    height: calc(var(--closed-sidebar-width) * 0.8);
    transition: width 0.3s ease;
}

.open.sidebar-wrapper .topbar-list {
    width: calc(var(--open-sidebar-width) * 0.8);
}

.sidebar-wrapper .topbar-list .logo-wrapper {
    flex: 0 0 auto;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    outline: solid 0.18rem var(--prim-colour);
    height: calc(var(--closed-sidebar-width) * 0.8);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.sidebar-wrapper .topbar-list .logo-wrapper:hover {
    transform: scale(1.1);
}

.sidebar-wrapper .topbar-list .logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sidebar-wrapper .topbar-list .icon-wrapper {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--closed-sidebar-width) * 0.55);
    max-width: 0;
    aspect-ratio: 1 / 1;
    background-color: rgb(0, 0, 0);
    border-radius: 0.5vw;
    outline: solid 0.18rem transparent;
    overflow: hidden;
    transform: scale(1);
    transition: outline-color 0.3s ease, margin 0.3s ease, max-width 0.3s ease, transform 0.3s ease;
}

.open.sidebar-wrapper .topbar-list .icon-wrapper {
    outline-color: var(--prim-colour);
    max-width: calc(var(--closed-sidebar-width) * 0.55);
    margin: 0 0.7rem;
}

.open.sidebar-wrapper .topbar-list .search-btn {
    margin-left: 0.15rem;
}

.sidebar-wrapper .topbar-list .icon-wrapper:hover {
    transform: scale(1.1);
}

.sidebar-wrapper .topbar-list .icon-wrapper img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.open.sidebar-wrapper .topbar-list .icon-wrapper img {
    opacity: 1;
}

.sidebar-wrapper .btn-list {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8vh;
    background-color: rgb(0, 0, 0);
    border-radius: 1vw;
    outline: solid 0.18rem var(--prim-colour);
    padding: 1vw 0;
    width: calc(var(--closed-sidebar-width) * 0.8);
    transition: width 0.3s ease;
    color: var(--prim-text-colour);
}

.open.sidebar-wrapper .btn-list {
    width: calc(var(--open-sidebar-width) * 0.8);
}

.sidebar-wrapper .btn {
    all: unset;
    display: flex;
    border-radius: 1vw;
    outline: solid 0.18rem transparent;
    height: calc(var(--closed-sidebar-width) * 0.6);
    width: calc(var(--closed-sidebar-width) * 0.6);
    aspect-ratio: 1 / 1;
    transition: width 0.3s ease;
}

.sidebar-wrapper .btn .icon-wrapper {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    outline: solid 0.18rem var(--prim-colour);
    border-radius: 0.5vw;
    overflow: hidden;
    transition: transform 0.3s ease, outline-color 0.3s ease;
    transform: scale(1);
}

.open.sidebar-wrapper .btn .icon-wrapper {
    outline-color: rgb(0, 0, 0);
}

.sidebar-wrapper .btn .icon-wrapper:hover {
    transform: scale(1.1);
}

.sidebar-wrapper .btn .icon-wrapper img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.open.sidebar-wrapper .btn {
    width: calc(var(--open-sidebar-width) * 0.75);
    aspect-ratio: unset;
}

.sidebar-wrapper .btn-list .toggle-btn,
.sidebar-wrapper .btn-list .toggle-btn .open-content,
.sidebar-wrapper .btn-list .toggle-btn .icon-wrapper {
    outline: unset;
}

.sidebar-wrapper .btn-list .toggle-btn .icon-wrapper {
    background-color: transparent;
}

.sidebar-wrapper .btn-list .toggle-btn img,
.sidebar-wrapper .btn-list .album-btn img {
    width: 100%;
    height: 100%;
}

.sidebar-wrapper .btn-list .liked-btn .icon-wrapper,
.sidebar-wrapper .btn-list .liked-btn {
    background-color: rgba(80, 115, 186, 1);
}

.sidebar-wrapper .btn-list .album-btn .icon-wrapper {
    background-color: transparent;
}

.sidebar-wrapper .btn-list .album-btn {
    background-color: rgba(80, 115, 186, 0.6);
}

.sidebar-wrapper .open-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    opacity: 1;
    /* transform: translateX(0); */
    transition: max-width 0.3s ease, opacity 0.3s ease; /* , transform 0.3s ease */
    padding: 0 0.75rem;
}

.sidebar-wrapper .open-content.hidden {
    max-width: 0;
    opacity: 0;
    /* transform: translateX(-0.6vw); */
}

.sidebar-wrapper .open-content .title {
    font-weight: 900;
    font-size: 0.9rem;
}

.sidebar-wrapper .open-content .name {
    font-size: 1.1rem;
    font-weight: 600;
}

.sidebar-wrapper .open-content .count {
    font-size: 0.9rem;
    font-weight: 600;
}