.song-add-panel-wrapper {
    flex: 1;
    display: flex;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 24, 71));
    border: 1px solid var(--prim-colour);
    flex-direction: column;
    border-radius: 2vw;
    overflow: hidden;
    padding: 1.6vw;
    gap: 2.5vh;
}

.song-add-panel-wrapper .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 15vh;
    border-radius: 1.4vw;
    border: 1px solid var(--prim-colour);
    position: relative;
}

.song-add-panel-wrapper .hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(5px);
}

.song-add-panel-wrapper .hero span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.3rem;
    white-space: nowrap;
    /* text-shadow: x-offset y-offset blur-radius color */
    text-shadow: 0 0.25rem 0.5rem rgba(80, 115, 186, 0.9);
}

.song-add-panel-wrapper .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: 12rem;
    gap: 2.5vh; 
}

.song-add-panel-wrapper .text-input {
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    background-color: transparent; 
    color: white;
    border: 1px solid var(--prim-colour);
    font-size: 1.05rem;
    transition: box-shadow ease 0.3s, border-color ease 0.3s, background-color ease 0.3s;
}

.song-add-panel-wrapper .text-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.05rem;
}

.song-add-panel-wrapper .text-input:hover {
    border-color: rgba(255, 255, 255, 0.671);
    /* box-shadow: x-offset y-offset blur-radius spread-radius color */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); 
}

.song-add-panel-wrapper .text-input:focus-within {
    outline: unset;
    border-color: rgb(255, 255, 255);
}

.song-add-panel-wrapper .text-input.disabled {
    background-color: rgb(91, 91, 91);
    cursor: not-allowed;
}

.song-add-panel-wrapper .text-input.disabled:hover {
    border-color: var(--prim-colour);
}

.song-add-panel-wrapper .text-input.disabled:focus-within {
    border-color: var(--prim-colour);
}

.song-add-panel-wrapper .album-input,
.song-add-panel-wrapper .thumbnail-input {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.song-add-panel-wrapper label {
    color: white;
}

.song-add-panel-wrapper .checkbox {
    width: 1.3rem;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: 1px ;
    border: 1px solid var(--prim-colour);
    transition: background-color ease 0.3s, border-color ease 0.3s, box-shadow ease 0.3s;
}

.song-add-panel-wrapper .checkbox:hover {
    border-color: rgba(255, 255, 255, 0.671);
    /* box-shadow: x-offset y-offset blur-radius spread-radius color */
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2); 
}

.song-add-panel-wrapper .checkbox.active {
    background-color: white;
}

.song-add-panel-wrapper .btn {
    border: 1px solid var(--prim-colour);
    border-radius: 0.8vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 3vh;
    width: 10vw;
    min-width: 60px;
    min-height: 60px;
    padding: 0.1vh;
    transition: box-shadow ease 0.3s, background-color ease 0.3s, border ease 0.3s;
}

.song-add-panel-wrapper .btn img {
    aspect-ratio: 1 / 1;
    height: 70%;
    object-fit: contain;
}

.song-add-panel-wrapper .btn:hover {
    background-color: rgb(13, 19, 31);
    /* box-shadow: x-offset y-offset blur-radius spread-radius color */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); 
}

.song-add-panel-wrapper .btn:active {
    background-color: rgb(22, 33, 53);
}

.song-add-panel-wrapper .btn.disabled {
    background-color: rgb(91, 91, 91);
}

.song-add-panel-wrapper .btn.disabled:hover {
    background-color: rgb(91, 91, 91);
    cursor: not-allowed;
}

.song-add-panel-wrapper .btn.disabled:active {
    background-color: rgb(91, 91, 91);
}

.song-add-panel-wrapper .thumbnail-output {
    display: inline-flex;
}

.song-add-panel-wrapper .main-hr {
    height: 1.2vh;
    width: 100%;
    border-radius: 0.2vh;
    background-color: rgb(80, 115, 186);
    border: unset;
}