.song-list-wrapper .song-grid * {
    color: white;
}

.song-list-wrapper .song-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem 0;
}

.song-list-wrapper .song-row {
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
}

.song-list-wrapper .song-title,
.song-list-wrapper .song-album,
.song-list-wrapper .song-duration {
    flex: 1;
}

.song-list-wrapper .song-title {
    display: flex;
}

.song-list-wrapper .song-title .like-btn-outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.2vw;
}

.song-list-wrapper .song-title .like-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.song-list-wrapper .like-btn-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.song-list-wrapper .song-title .song-thumbnail-wrapper {
    width: 7rem;
    aspect-ratio: 1 / 1;
}

.song-list-wrapper .song-title .song-thumbnail-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-list-wrapper .song-details {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.song-list-wrapper .song-details span {
    width: 100%;
}

.song-list-wrapper .song-details .title {
    font-size: 1.4rem;
    font-weight: 600;
}

.song-list-wrapper .song-details .artist {
    font-size: 1.1rem;
}

.song-list-wrapper .song-row .song-album {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.song-list-wrapper .song-row .song-album,
.song-list-wrapper .song-row .song-duration {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.song-list-wrapper .song-album span,
.song-list-wrapper .song-duration span {
    font-size: 2rem;
    font-weight: 500;
}