.home-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-wrapper .main-section {
    flex: 1;
    margin-left: calc(var(--closed-sidebar-width) + 1vw);
}

.home-wrapper .main-content {
    margin-top: calc(var(--searchbar-height) + 2vh);
    display: flex;
    flex-direction: column;
    gap: 2.6vh;
}
