.song-add-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.song-add-wrapper .main-section {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--closed-sidebar-width) - 1vw);
    margin-left: calc(var(--closed-sidebar-width) + 1vw);
}

.song-add-wrapper .main-content {
    flex: 1;
    min-height: 0;
    margin-bottom: 2vh;
    margin-top: calc(var(--searchbar-height) + 2vh);
    margin-right: 1vw;
    display: flex;
    gap: 2.6vh;
}

.song-add-wrapper .main-content .panel-img-wrapper {
    flex: 1;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 2vw;
    border: 1px solid var(--prim-colour);
}

.song-add-wrapper .main-content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
