.loading-card-wrapper {
    height: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6rem;
    border-radius: 10px;
    outline: 2px solid var(--prim-colour);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}