.searchbar-list-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    overflow: hidden;
    background-color: rgb(80, 115, 186);
    transition: box-shadow 0.3s ease;
    animation: searchbar-list-wrapper-open ease 0.3s;
}

.searchbar-list-wrapper.closing {
    animation: searchbar-list-wrapper-close ease 0.3s;
}

@keyframes searchbar-list-wrapper-open {
    from {
        opacity: 0;
        transform: scale(0.92) translateY(1rem);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes searchbar-list-wrapper-close {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    to {
        opacity: 0;
        transform: scale(0.92) translateY(1rem);
    }
}

.searchbar-list-wrapper:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.4); 
}

.searchbar-list-wrapper .search-row {
    border-radius: 0.1rem;
    text-align: left;
    height: var(--searchbar-height);
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.searchbar-list-wrapper .artists {
    background: rgba(0, 0, 0, 0);
}

.searchbar-list-wrapper .albums {
    background: rgba(0, 0, 0, 0.1);
}

.searchbar-list-wrapper .songs {
    background: rgba(0, 0, 0, 0.3);
}

.searchbar-list-wrapper .search-row:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

.searchbar-list-wrapper .search-row:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.searchbar-list-wrapper .search-row span {
    flex: 1;
    text-align: left;
    color: white;
    font-size: 1.1rem;
    white-space: nowrap;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 1rem;
}